<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>

  <body>
    <div class="container">
      <div class="content">
        <img
          src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
          alt="pin logo"
          class="img1"
        />
        <p class="header">Make account to see more</p>

        <form action="/register" method="post">
          <input
            type="email"
            placeholder="Email"
            class="detail"
            name="email"
          /><br />
          <input
            type="text"
            placeholder="username"
            name="username"
            class="detail"
          /><br />
          <input
            type="text"
            placeholder="Full Name"
            name="fullname"
            class="detail"
          /><br />
          <input
            type="password"
            placeholder="Password"
            class="detail"
            name="password"
          />
          <input value="Register Account" class="btn int" type="submit" />
        </form>

        <footer>
          <a href="/login">Already on Pinterest? Log In</a>
        </footer>
      </div>
    </div>
  </body>
</html>
